extends layout

block content
  .inner
    h2 #{title}
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Search here..." name="geolocate")
      #map
        p Loading Map...
